<%- include('header') %>


<h6 class="py-4 px-20">Change  Passowrd</h6>
<form class="px-40 py-4" action="/change" method="post" onsubmit="return validatePasswords()">
    <%- include('flash') %>
    <div class="py-3">
        <label for="email">Email</label>
        <input type="email" name="email" required class="border border-gray-300 text-gray-900 rounded p-2 w-full">
    </div>
    <div class="py-3">
        <label for="password">Current Password</label>
        <input type="password" name="password" required class="border border-gray-300 text-gray-900 rounded p-2 w-full">
    </div>
    <div class="py-3">
        <label for="new-password">New Password</label>
        <input type="password" name="new-password" id="new-password" required class="border border-gray-300 text-gray-900 rounded p-2 w-full">
    </div>
    <div class="py-3">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" id="confirm-password" required class="border border-gray-300 text-gray-900 rounded p-2 w-full">
    </div>
    <div id="error-message" class="text-red-500 py-2 hidden"></div>
    <div class="flex items-center justify-between py-3">
        <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded px-5 py-2">Change Passowrd</button>
    </div>
</form>

<div class="px-20 py-60">
    <%- include('footer.ejs') %>
</div>