<%- include('header') %>

<!-- 
TODO
Edit the current page by the owner of the course

TODO
Edit the current chapter by the owner of the course 

TODO
Edit the courses created by the owner -->


<h1> This feature is currently in development</h1>