<%- include('header') %>


<div class="px-20 py-4">
   
    <h1 class="text-l font-semibold text-color-gray px-20">Forgot Passowrd is currently in development</h1>

    <p>Right now you change the password by clicking <a href="/change-password">here</a> </p>
</div>

<div class="px-20 py-60">
    <%- include('footer.ejs') %>
</div>