<%- include('header.ejs') %>

<div class="px-40">
    
<p class="py-2">New Here ? <a href="/signup" class="text-green-600">Sign Up</a></p>
<p class="py-2">Already have an Account? <a href="/login" class="text-green-600">Sign In</a></p>


</div>

<div class="px-20">
    <%- include('footer.ejs') %>
</div>