<%- include('header.ejs') %>

<div class="px-40"> <%- include('flash') %>

    <h1 class="text-xl font-semibold text-color-gray px-20">Learning Management System</h1>
    <p class="py-2">New Here ? <a href="/signup" class="text-green-600">Sign Up</a></p>
    <p class="py-2">Already have an Account? <a href="/login" class="text-green-600">Sign In</a></p>
    
</div>
   

<div class="px-20 py-60">
    <%- include('footer.ejs') %>
</div>