<%- include('header') %>
<h1 class="text-5xl py-10 font-bold text-center  p-4 rounded-lg">
    Create New Course
</h1>

<nav>
    <a href="/educator-dashboard">Dashboard</a> >
</nav>

<form class="px-40 py-4" action="/new-course" method="post">
    <%- include('flash') %>
    <div class="py-3">
        <label for="course" class="text-xl">What is the name of this Course ?</label>
        <input type="text" name="course" required class="border border-gray-300 text-gray-900 rounded p-2 w-full">
    </div>
    <div class="flex items-center justify-between py-3">
        <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded px-5 py-2">Submit</button>
    </div>
</form>


<!-- 
TODO

when the chapter is created and when ther are no pages
There are no pages available. Create one?
button for it 
should show -->