<%- include('header') %>


<h1>Student Dashboard</h1>

<div class="flex-none">
    <button onclick="window.location.href='/signout';" class="bg-red-600 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">Signout</button>
</div>
<div class="px-20 py-60">
    <%- include('footer.ejs') %>
</div>