<hr>
<h1 class="text-2xl py-10 font-bold text-center  p-4 rounded-lg">
    Available Courses
</h1>
  
<div class="flex items-center justify-center py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <!-- Cards -->
        <% for(var i=0; i <  coursesWithEducator.length; i++) { %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
            <img class="w-full" src="https://via.placeholder.com/400x200" alt="Card Image 1">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2"><%= coursesWithEducator[i].title %></div>
                <div class="font-semibold text-l mb-1"><%= coursesWithEducator[i].educatorName %></div>
                <p class="text-gray-700 text-base">
                   
                </p>
            </div>
            <div class="px-6 pt-4 pb-2 flex justify-between">
                <button onclick="window.location.href='/view-chapters/<%= coursesWithEducator[i].id %>';" class="bg-cyan-500 hover:bg-cyan-600 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">View Courses</button>
                <% if(userRole !== 'Educator' ) { %>
                    <% if ( courses.courseId === null ) { %>
                        <button onclick="window.location.href='/enroll/<%= coursesWithEducator[i].id %>';" class="bg-green-600 hover:bg-green-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">Enroll</button>
                    <% } else { %>
                        <button class="bg-green-600 hover:bg-green-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">Already Enrolled</button>
                    
                    <% }
                    } %>
                    <% if(coursesWithEducator[i].educatorName === username )  {%>
                        <a href="/development %>">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                        </a>  
                    <% } %>
            </div>
        </div>
        <% } %>
       <!-- Cards -->
    </div>
</div>

